---
import "@assets/styles/theme.css";
import Footer from "@components/Footer.astro";
import HeadCommon from "@components/HeadCommon.astro";
import Header from "@components/Header.astro";
import { normalizeLangTag, rtlLanguages } from "@src/i18n";
import { detectLocaleFromPath } from "astro-i18next";
import { Schema } from "astro-seo-schema";
import type { Graph, Thing, WithContext } from "schema-dts";

export interface Props {
  title?: string | null | undefined;
  description?: string | null | undefined;
  noindex?: boolean | undefined;
  nofollow?: boolean | undefined;
  jsonLd?: Graph | WithContext<Thing>;
}

const { title, description, noindex, nofollow, jsonLd }: Props = Astro.props;
const { pathname } = Astro.url;
const lang = detectLocaleFromPath(pathname);
const direction = rtlLanguages.has(lang) ? "rtl" : "ltr";
const bcpLang = normalizeLangTag(lang);
---

<!DOCTYPE html>
<html dir={direction} lang={bcpLang} class="dark">
  <head>
    <HeadCommon title={title} description={description} noindex={noindex} nofollow={nofollow} />
    {typeof jsonLd === "undefined" ? null : <Schema item={jsonLd} />}
  </head>
  <body class="bg-color-bg text-color-text">
    <!-- Base Layout -->
    <Header />
    <!-- Page Content -->
    <slot />
    <div class="h-20"></div>
    <Footer />
  </body>
</html>
